:root {
  --color: #e8e8e8;
  --background-color: #151515;
  --gameboard-button-background-color: #1f1f1f;
  --gameboard-button-background-color-hover: #252525;
  --gameboard-button-text-color: #e8e3e3;
  --win-highlight-background-color: #1f2f1f;
}

body {
  background-color: var(--background-color);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 126px);
  grid-template-rows: repeat(3, 126px);
  gap: 16px;
  justify-content: center;
}

.board-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  padding: 0;
  color: var(--color);
  background-color: var(--gameboard-button-background-color);
  color: var(--gameboard-button-text-color);
  transition-duration: 0.3s;
  font-weight: bold;
  user-select: none;
}

.board-button:enabled:hover {
  background-color: var(--gameboard-button-background-color-hover);
  transform: scale(1.03, 1.03);
}

.board-button:enabled:active {
  transform: scale(0.99, 0.99);
}

.win-highlight {
  background-color: var(--win-highlight-background-color);
}
